<div class="control-section">
    <SfDashboardLayout Columns="8">
        <DashboardLayoutPanels>
            <DashboardLayoutPanel Column="0" Row="0" SizeX="2" SizeY="1">
                <ContentTemplate>
                    <div class="root-container">
                        <div class="item-container income">
                            <p>42</p>
                        </div>
                        <div class="bottom-container">
                            <p>Guild members <i class="fa-solid fa-user"></i></p>
                        </div>
                    </div>
                </ContentTemplate>
            </DashboardLayoutPanel>
            <DashboardLayoutPanel Column="2" Row="0" SizeX="2" SizeY="1">
                <ContentTemplate>
                    <div class="root-container">
                        <div class="item-container expense">
                            <p>7</p>
                        </div>
                        <div class="bottom-container">
                            <p>Raids this week <i class="fa-solid fa-headphones"></i></p>
                        </div>
                    </div>
                </ContentTemplate>
            </DashboardLayoutPanel>
            <DashboardLayoutPanel Column="4" Row="0" SizeX="2" SizeY="1">
                <ContentTemplate>
                    <div class="root-container">
                        <div class="item-container balance">
                            <p>2</p>
                        </div>
                        <div class="bottom-container">
                            <p>Pending invites <i class="fa-solid fa-bell"></i></p>
                        </div>
                    </div>
                </ContentTemplate>
            </DashboardLayoutPanel>
            <DashboardLayoutPanel Column="6" Row="0" SizeX="2" SizeY="1">
                <ContentTemplate>
                    <div class="root-container">
                        <div class="item-container transaction">
                            <p>3</p>
                        </div>
                        <div class="bottom-container">
                            <p>Users online <i class="fa-regular fa-user"></i></p>
                        </div>
                    </div>
                </ContentTemplate>
            </DashboardLayoutPanel>
            <DashboardLayoutPanel Column="0" Row="1" SizeX="4" SizeY="2">
                <HeaderTemplate>
                    <span class="title">Class Distribution</span>
                </HeaderTemplate>
                <ContentTemplate>
                    <SfAccumulationChart EnableAnimation="true" EnableBorderOnMouseMove="false" EnableSmartLabels="true">
                                <AccumulationChartBorder Color="transparent"></AccumulationChartBorder>
                                <AccumulationChartTooltipSettings Enable="true" Format="${point.x}"></AccumulationChartTooltipSettings>
                                <AccumulationChartSeriesCollection>
                                    <AccumulationChartSeries DataSource="@PieChartDataCollection" XName="Product" YName="Percentage" InnerRadius="40%" Palettes="@palettes">
                                        <AccumulationChartSeriesBorder Width="3"></AccumulationChartSeriesBorder>
                                        <AccumulationDataLabelSettings Visible="true" Name="TextMapping" Position="AccumulationLabelPosition.Outside">
                                            <AccumulationChartConnector Length="10px" Type="ConnectorType.Curve"></AccumulationChartConnector>
                                        </AccumulationDataLabelSettings>
                                    </AccumulationChartSeries>
                                </AccumulationChartSeriesCollection>
                                <AccumulationChartLegendSettings Visible="false"></AccumulationChartLegendSettings>
                            </SfAccumulationChart>
                </ContentTemplate>
            </DashboardLayoutPanel>
            <DashboardLayoutPanel Column="4" Row="1" SizeX="4" SizeY="2">
                <HeaderTemplate>
                    <span class="title">Roles Distribution</span>
                </HeaderTemplate>
                <ContentTemplate>

                </ContentTemplate>
            </DashboardLayoutPanel>
            <DashboardLayoutPanel Column="0" Row="4" SizeX="8" SizeY="2">
                <HeaderTemplate>
                    <span class="title">Recent Raids</span>
                </HeaderTemplate>
                <ContentTemplate>

                </ContentTemplate>
            </DashboardLayoutPanel>
        </DashboardLayoutPanels>
    </SfDashboardLayout>
</div>

@code {
    public SfDashboardLayout dashboardObject { get; set; }
    private double[] Spacing = new double[] { 15, 15 };
    private double Ratio = 160 / 100;
    
    }
