@page "/userpanel"
@page "/userpanel/{subPage?}"

@inject NavigationManager NavManager
<PageTitle>UserPanel</PageTitle>

<AuthorizeView>
    <Authorized>
        <h1 class="mt-2">User panel</h1>
        <ul class="nav nav-pills nav-justified">
            <li class="nav-item px-3">
                <NavLink class="nav-link" href="/userpanel/changepassword">
                    <i class="fa-solid fa-key"></i>
                    Change password
                </NavLink>
            </li>
            <li class="nav-item px-3">
                <NavLink class="nav-link" href="/userpanel/characters">
                    <i class="fa-solid fa-users"></i>
                    Characters
                </NavLink>
            </li>
            <li class="nav-item px-3">
                <NavLink class="nav-link" href="/userpanel/raid-invites">
                    <i class="fa-solid fa-bell"></i>
                    Raid invites
                </NavLink>
            </li>
            <li class="nav-item px-3">
                <NavLink class="nav-link" href="/userpanel/raid-events">
                    <i class="fa-regular fa-clipboard"></i>
                    Raid events
                </NavLink>
            </li>
        </ul>
        <hr />
        @switch (SubPage)
        {
            case "changepassword":
                <ChangePassword />
                break;

            case "characters":
                <UserCharacters />
                break;

            case "raid-invites":
                <UserRaidInvites/>
                break;

            case "raid-events":
                <UserRaidEvents />
                break;

            default:
                <UserPanelDashboard></UserPanelDashboard>
                break;
        }



    </Authorized>
</AuthorizeView>

@code {

    [Parameter]
    public string SubPage { get; set; } = string.Empty;

}
