<table class="table table-sm table-hover table-bordered table-dark mt-3">
    <thead class="table-primary">
        <tr>
            <th scope="col">Name</th>
            <th scope="col">Class</th>
            <th scope="col">Spec</th>
            <th scope="col">Item level</th>
            @if (UserId == RaidEvent.LeaderId)
            {
                <th scope="col"></th>
            }

        </tr>
    </thead>
    <tbody>
        <tr>
            <td colspan="6" class="bg-danger no-hover">Tanks</td>
        </tr>
        @foreach (var participant in Participants.Where(p => p.Character.MainSpec.Role == GuildManager_DataAccess.Entities.Characters.Enum.ClassSpecializationRole.Tank))
        {
            <tr class="text-white">
                <td>@participant.Character.Name</td>
                <td width="10"><img class="img-fluid" src="/img/classes/@participant.Character.Class.ImageUrl" alt="img" /></td>
                <td width="10"><img class="img-fluid" src="/img/specs/@participant.Character.MainSpec.ImageUrl" alt="img" /></td>
                <td>@participant.Character.ItemLevel</td>
                @if (UserId == RaidEvent.LeaderId)
                {
                    <td></td>
                }
            </tr>
        }
        <tr>
            <td colspan="6" class="bg-success no-hover">Healers</td>
        </tr>
        @foreach (var participant in Participants.Where(p => p.Character.MainSpec.Role == GuildManager_DataAccess.Entities.Characters.Enum.ClassSpecializationRole.Healer))
        {
            <tr class="text-white">
                <td>@participant.Character.Name</td>
                <td width="10"><img class="img-fluid" src="/img/classes/@participant.Character.Class.ImageUrl" alt="img" /></td>
                <td width="10"><img class="img-fluid" src="/img/specs/@participant.Character.MainSpec.ImageUrl" alt="img" /></td>
                <td>@participant.Character.ItemLevel</td>
                @if (UserId == RaidEvent.LeaderId)
                {
                    <td></td>
                }
            </tr>
        }

        <tr>
            <td colspan="6" class="bg-warning no-hover">DPS</td>
        </tr>
        @if (UserId == RaidEvent.LeaderId)
        {
            <tr>
                <td colspan="6" class="bg-secondary no-hover">Pending</td>
            </tr>
        }

    </tbody>

</table>

@code {
        [Parameter]
        public int UserId { get;set; }
        [Parameter]
        public ClaimsPrincipal User { get; set; } = new();

        [Parameter]
        public RaidEventDto RaidEvent { get; set; } = new();

        [Parameter]
        public List<RaidEventCharacterDto> Participants { get; set; } = new();
}