* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html {
    font-size: 62.5%;
}
.panel {
    width: 1800px;
    height: 1000px;
    border: 1px solid #4b5769;
    border-radius: 15px;
    overflow: hidden;
}
.user-box {
    font-family: 'Montserrat', sans-serif;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    height: 160px;
    
}

.user-box p{
    font-size: 1.6rem;
}
.user-box i{
    font-size: 2rem;
    padding: 10px;
}


.panel-left {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    background-color: #4b5769;
}
.footer-box h3{
    font-size:2rem;
}
.footer-box p{
    font-size: 1.6rem;
}
