@inherits LayoutComponentBase
@attribute [Authorize]


<AuthorizeView>
    <Authorized>
        <div class="panel">
            <div class="row m-0 h-100">
                <div class="panel-left col-2 p-0 px-4 text-white text-center">
                    <section class="user-box">
                        <p class="mb-0 hi-text">Hi, </p>
                    </section>
                    <NavMenu />
                    <section class="footer-box mt-3">
                        <h3>Guild Manager by J.</h3>
                        <p class="text-muted">&copy; Copyright 2023</p>
                    </section>
                </div>
            </div>
        </div>

    </Authorized>
</AuthorizeView>
<style>
    body {
        display: flex;
        justify-content: center;
        align-items: center;
        height: 100vh;
        min-width: 1600px;
        font-family: 'Montserrat', sans-serif;
        background-color: #181d23;
    }
</style>