<nav class="menu">

    <div class="menu-item">
        <i class="fa-solid fa-chess-board"></i>
        <NavLink class="nav-link text-white" href="">
        <p>Dashboard</p>
        </NavLink>
    </div>
    <div class="menu-item">
        <i class="fa-solid fa-calendar-days"></i>
        <NavLink class="nav-link text-white" href="">
        <p>Events</p>
        </NavLink>
    </div>
    <div class="menu-item">
        <i class="fa-solid fa-people-group"></i>
        <NavLink class="nav-link text-white" href="">
            <p>Members</p>
            </NavLink>
        
    </div>
</nav>

@code {

}
