<nav class="menu">
    <NavLink href="" class="active">
        <div class="menu-item">
            <i class="fas fa-sliders-h"></i>
            <p>Dashboard</p>
        </div>
    </NavLink>
    <NavLink href="">
        <div class="menu-item">
            <i class="far fa-comments"></i>
            <p>Events</p>
        </div>
    </NavLink>
    <NavLink href="">
        <div class="menu-item">
            <i class="fas fa-user-friends"></i>
            <p>Members</p>
        </div>
    </NavLink>
</nav>

@code {

}
